// Файл ресурсов диалогового окна dialog.rc для программы "Calculation".

#include "dialog.h"

prime_cost DIALOG 1, 1, 300, 130 // Имя и координаты верхнего левого угла
        // диалогового окна "Расчёт стоимости изготовления изделия" и
        //его размеры по горизонтали и вертикали.
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_TABSTOP
        // Стили диалогового окна.
CAPTION "Расчёт стоимости изготовления изделия" // Заголовок диалогового окна.
{
CONTROL "Расчёт стоимости изготовления изделия", ID_STATIC_TITLE, "STATIC",
        SS_CENTER, 50, 10, 200, 10 // Статический текст.
        // Последний блок параметров предложения CONTROL представляет собой
        // четыре числа, задающие координаты элемента в диалоговом окне,
        // а также его размеры.
CONTROL "5.4", ID_TIME, "EDIT", ES_CENTER | WS_BORDER | WS_TABSTOP,
        40, 30, 50, 10
        // Окно редактирования.
CONTROL "Время построения изделия, часов", ID_STATIC_TIME, "STATIC", SS_LEFT,
        100, 30, 150, 10
        // Статический текст.
CONTROL "1020", ID_COST_HOUR, "EDIT", ES_CENTER | WS_BORDER | WS_TABSTOP,
        40, 50, 50, 10
        // Окно редактирования.
CONTROL "Приведенная стоимость одного часа работы установки, грн",
        ID_STATIC_COST_HOUR, "STATIC", SS_LEFT, 100, 50, 150, 20
        // Статический текст.
CONTROL "", ID_COST_MANUFACTURE, "EDIT", ES_CENTER | WS_BORDER |
        ES_READONLY | WS_TABSTOP, 40, 90, 80, 10
        // Окно редактирования.
CONTROL "Стоимость изготовления изделия, грн", ID_STATIC_COST_MANUFACTURE,
        "STATIC", SS_LEFT , 130, 90, 150, 10
        // Статический текст.
CONTROL "Рассчитать", ID_CALCULATION, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        40, 110, 50, 10
        // Нажимаемая кнопка.
// CONTROL "Сохранить расчёт", ID_SAVE, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
//      100, 110, 100, 10
        // Нажимаемая кнопка.
CONTROL "Выход", ID_EXIT, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        210, 110, 50, 10
        // Нажимаемая кнопка.
}


sling DIALOG 1, 1, 300, 200 // Имя и координаты верхнего левого угла
        // диалогового окна "Расчёт натяжения стропа" и его размеры по
        // горизонтали и вертикали.
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_TABSTOP
        // Стили диалогового окна.
CAPTION "Расчёт натяжения стропа" // Заголовок диалогового окна.
{
CONTROL "Расчёт натяжения стропа", ID_STATIC_TITLE, "STATIC", SS_CENTER,
        50, 10, 200, 10 // Статический текст.
        // Последний блок параметров предложения CONTROL представляет собой
        // четыре числа, задающие координаты элемента в диалоговом окне,
        // а также его размеры.
CONTROL "a", ID_STATIC_A, "STATIC", SS_CENTER, 152, 40, 10, 10
        // Статическая переменная.
CONTROL "Q", ID_STATIC_Q, "STATIC", SS_CENTER, 152, 72, 10, 10
        // Статическая переменная.
CONTROL "S", ID_STATIC_S, "STATIC", SS_CENTER, 190, 30, 10, 10
        // Статическая переменная.
CONTROL "S=", ID_STATIC_FORMULA1, "STATIC", SS_CENTER, 220, 55, 10, 10
        // Статическая переменная.
CONTROL "Q", ID_STATIC_FORMULA2, "STATIC", SS_CENTER, 240, 48, 10, 10
        // Статическая переменная.
CONTROL "n·cos a", ID_STATIC_FORMULA3, "STATIC", SS_CENTER, 230, 60, 30, 10
        // Статическая переменная.
CONTROL "50.0", ID_MASS, "EDIT", ES_CENTER | WS_BORDER | WS_TABSTOP,
        40, 100, 50, 10
        // Окно редактирования.
CONTROL "Q - масса груза, кг", ID_STATIC_MASS, "STATIC", SS_LEFT,
        100, 100, 150, 10 // Статический текст.
CONTROL "4", ID_NUMBER, "EDIT", ES_CENTER | WS_BORDER | WS_TABSTOP,
        40, 120, 50, 10
        // Окно редактирования.
CONTROL "n - число ветвей", ID_STATIC_NUMBER, "STATIC", SS_LEFT,
        100, 120, 150, 10 // Статический текст.
CONTROL "60.0", ID_ANGLE, "EDIT", ES_CENTER | WS_BORDER | WS_TABSTOP,
        40, 140, 50, 10
        // Окно редактирования.
CONTROL "a - угол наклона стропа к вертикали, °", ID_STATIC_ANGLE, "STATIC",
        SS_LEFT, 100, 140, 150, 10 // Статический текст.
CONTROL "", ID_TAUT, "EDIT", ES_CENTER | WS_BORDER | ES_READONLY |
        WS_TABSTOP, 40, 160, 50, 10
        // Окно редактирования.
CONTROL "S - натяжение стропа, кг", ID_STATIC_TAUT, "STATIC", SS_LEFT,
        100, 160, 150, 10 // Статический текст.
CONTROL "Рассчитать", ID_CALCULATION, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        40, 180, 50, 10
        // Нажимаемая кнопка.
// CONTROL "Сохранить расчёт", ID_SAVE, "BUTTON", BS_PUSHBUTTON |
//        WS_TABSTOP, 100, 180, 100, 10
        // Нажимаемая кнопка.
CONTROL "Выход", ID_EXIT, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        210, 180, 50, 10
        // Нажимаемая кнопка.
}


license DIALOG 1, 1, 400, 280 // Имя и координаты верхнего левого угла
        // диалогового окна "Лицензионный договор" и его размеры по
        // горизонтали и вертикали.
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU // Стили диалогового окна.
CAPTION "Лицензионный договор" // Заголовок диалогового окна.
{
CONTROL "ЛИЦЕНЗИОННЫЙ ДОГОВОР\n\nПрограмма ""Calculation free"" является "
        "бесплатной и распространяется "
        "на условиях ""как есть"". Разработчик старался сделать программу "
        "стабильной и удобной.\n\nЛюбой желающий может использовать и "
        "воспроизводить эту программу на протяжении любого времени без "
        "всяких ограничений. \n\nРазработчик не несёт никакой "
        "ответственности за повреждения аппаратного или программного "
        "обеспечения вызванные использованием Calculation free.\n\n"
        "Все права на программу Calculation free принадлежат автору: Вербе "
        "Александру. Права, не предоставленные здесь явно, сохраняются "
        "за автором.\n\nПрограмма не передаёт никакой информации "
        "идентифицирующей пользователя.\n\nУстановка и использование "
        "Calculation free означает, что вы понимаете и принимаете положения "
        "данного лицензионного договора.\n\nДля получения дополнительной "
        "информации о программе, исходного кода программы, или при "
        "обнаружении ошибок обращайтесь к автору программы.\n\nВерба "
        "Александр\nwebsite: http://calculation.webservis.ru\n"
        "e-mail: alverba@yandex.ua\nтел.: +380635731891\n\n"
        "© Верба Александр, 2009.",
        ID_STATIC_LICENSE, "STATIC", SS_LEFT, 10, 10, 380, 240
        // Статический текст.
CONTROL "OK", ID_OK_LICENSE, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        175, 260, 50, 10
        // Нажимаемая кнопка.
}


about DIALOG 1, 1, 220, 190 // Имя и координаты верхнего левого угла
        // диалогового окна "О программе" и его размеры по
        // горизонтали и вертикали.
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU // Стили диалогового окна.
CAPTION "О программе" // Заголовок диалогового окна.
{
CONTROL "Calculation free\nПрограмма для расчёта стоимости изготовления "
        "изделия, расчёта натяжения стропа.\n\n"
        "Расчёт стоимости изготовления изделия был выполнен по: "
        "http://www.rpt.com.ua/default.aspx?select=faq&name=Price \n"
        "Расчёт натяжения стропа был выполнен по: Богомаз И.В. "
        "Теоретическая механика. Том 1. Кинематика. Статика: Тексты "
        "лекций. - М.: Изд-во АСВ, 2005. - 190с., 176илл.\n\nПрограмма "
        "предоставляется ""как есть"" без каких-либо гарантий.\n\n"
        "Программный продукт был создан Вербой Александром в системе "
        "Turbo C++ 2006 Explorer.\nwebsite: http://calculation.webservis.ru\n"
        "e-mail: alverba@yandex.ua\nтел.: +380635731891\n© Верба Александр, "
        "2009\n",
        ID_STATIC_ABOUT, "STATIC", SS_CENTER, 10, 5, 200, 160
        // Статический текст.
CONTROL "OK", ID_OK_ABOUT, "BUTTON", BS_PUSHBUTTON | WS_TABSTOP,
        85, 170, 50, 10
        // Нажимаемая кнопка.
}

