// Файл ресурсов пиктограммы image.rc для программы "Calculation".

#include "image.h"

IDI_IMAGE       ICON    DISCARDABLE     "calculation.ico"

// Это так называемое однострочное описание ресурса. Оно применяеся
// для описания пиктограмм, курсоров и битовых образов. Синтаксис подобного
// описания выглядит следующим образом:
//      имя_ресурса   тип_ресурса   DISCARDABLE     имя_файла

